@import "../../styles/common";
/**
 * Created by JP on 2016/8/15.
 */
/* Full Screen portlet mode */
.page-portlet-fullscreen {
  overflow: hidden;
}
/* Basic portlet */

.portlet {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
  border-radius: 0;

}

.portlet.portlet-fullscreen {
  z-index: 10060;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.portlet.portlet-fullscreen > .portlet-body {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
}

.portlet.portlet-fullscreen > .portlet-title {
  padding: 0 10px;
}

.portlet > .portlet-title {
  border-bottom: 1px solid #eee;
  padding: 0;
  margin-bottom: 10px;
  min-height: 40px;
  // border-radius: 4px 4px 0 0;
}

.portlet > .portlet-title:after,
.portlet > .portlet-title:before {
  content: " ";
  display: table;
}

.portlet > .portlet-title:after {
  clear: both;
}

.portlet > .portlet-title > .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 0;
}

.portlet > .portlet-title > .caption.bold {
  font-weight: 400;
}

.portlet > .portlet-title > .caption > i {
  float: left;
  margin-top: 4px;
  display: inline-block;
  font-size: 13px;
  margin-right: 5px;
  color: #666;
}

.portlet > .portlet-title > .caption > i.glyphicon {
  margin-top: 2px;
}

.portlet > .portlet-title > .caption > .caption-helper {
  padding: 0;
  margin: 0;
  line-height: 13px;
  color: #9eacb4;
  font-size: 13px;
  font-weight: 400;
}

.portlet > .portlet-title > .actions {
  float: right;
  display: inline-block;
  padding: 6px 0;
}

.portlet > .portlet-title > .actions > .dropdown-menu i {
  color: #555555;
}

.portlet > .portlet-title > .actions > .btn,
.portlet > .portlet-title > .actions > .btn-group > .btn,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm,
.portlet > .portlet-title > .actions > .btn.btn-sm {
  padding: 4px 10px;
  font-size: 13px;
  line-height: 1.5;
}

.portlet > .portlet-title > .actions > .btn-group > .btn.btn-default,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm.btn-default,
.portlet > .portlet-title > .actions > .btn.btn-default,
.portlet > .portlet-title > .actions > .btn.btn-sm.btn-default {
  padding: 3px 9px;
}

.portlet > .portlet-title > .actions > .btn > i,
.portlet > .portlet-title > .actions > .btn-group > .btn > i,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm > i,
.portlet > .portlet-title > .actions > .btn.btn-sm > i {
  font-size: 13px;
}

.portlet > .portlet-title > .actions .btn-icon-only {
  padding: 5px 7px 3px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default {
  padding: 4px 6px 2px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default > i {
  font-size: 14px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen {
  font-family: FontAwesome;
  color: #a0a0a0;
  padding-top: 3px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen.btn-sm {
  padding: 3px 3px !important;
  height: 27px;
  width: 27px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen:before {
  content: "\f065";
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen.on:before {
  content: "\f066";
}

.portlet > .portlet-title > .tools {
  float: right;
  display: inline-block;
  padding: 12px 0 8px;
}

.portlet > .portlet-title > .tools > a {
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  @include opacity(1);
}

.portlet > .portlet-title > .tools > a.fa {
  display: inline-block;
  top: -1px;
  position: relative;
  font-size: 13px;
  color: #ACACAC;

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.portlet > .portlet-title > .tools > a:hover {
  text-decoration: none;
  @include transition(all 0.1s ease-in-out);
  @include opacity(0.8);
}

.portlet > .portlet-title > .ui-pagination {
  float: right;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 5px 0 0;
}

.portlet > .portlet-body {
  clear: both;
  border-radius: 0;
}

.portlet > .portlet-empty {
  min-height: 125px;
}

.portlet.full-height-content {
  margin-bottom: 0;
}
/* Portlet background colors */
/* Side bordered portlet */

.portlet.bordered {
  border-left: 2px solid #e6e9ec !important;
}

.portlet.bordered > .portlet-title {
  border-bottom: 0;
}
/* Solid colored portlet */

.portlet.solid {
  padding: 0 10px 10px;
  border: 0;
}

.portlet.solid > .portlet-title {
  border-bottom: 0;
  margin-bottom: 10px;
}

.portlet.solid > .portlet-title > .caption {
  padding: 16px 0 2px;
}

.portlet.solid > .portlet-title > .actions {
  padding: 12px 0 6px;
}

.portlet.solid > .portlet-title > .tools {
  padding: 14px 0 6px;
}
/* Solid bordered portlet */

.portlet.solid.bordered > .portlet-title {
  margin-bottom: 10px;
}
/* Box portlet */

.portlet.box {
  padding: 0 !important;
}

.portlet.box > .portlet-title {
  border-bottom: 0;
  padding: 0 10px;
  margin-bottom: 0;
  color: #fff;
}

.portlet.box > .portlet-title > .caption {
  padding: 11px 0 9px;
}

.portlet.box > .portlet-title > .tools > a.fa {
  color: #fdfdfd;
}

.portlet.box > .portlet-title > .actions {
  padding: 7px 0 5px;
}

.portlet.box > .portlet-body {
  background-color: #fff;
  padding: 10px;
}

.portlet.box.portlet-fullscreen > .portlet-body {
  padding: 10px;
}
/* Light Portlet */

.portlet.light {
  padding: 12px 20px 15px;
  background-color: #fff;
}

.portlet.light.bordered {
  border: 1px solid #e1e1e1 !important;
}

.portlet.light.bordered > .portlet-title {
  border-bottom: 1px solid #eee;
}

.portlet.light.bg-inverse {
  background: #F7F7F7;
}

.portlet.light > .portlet-title {
  padding: 0;
  min-height: 48px;
}

.portlet.light > .portlet-title > .caption {
  color: #666;
  padding: 10px 0;
}

.portlet.light > .portlet-title > .caption > .caption-subject {
  font-size: 16px;
}

.portlet.light > .portlet-title > .caption > i {
  color: #777;
  font-size: 15px;
  font-weight: 300;
  margin-top: 3px;
}

.portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
  font-size: 15px;
}

.portlet.light > .portlet-title > .caption.caption-md > i {
  font-size: 14px;
}

.portlet.light > .portlet-title > .actions {
  padding: 6px 0 14px;
}

.portlet.light > .portlet-title > .actions .btn-default {
  color: #666;
}

.portlet.light > .portlet-title > .actions .btn-icon-only {
  height: 27px;
  width: 27px;
}

.portlet.light > .portlet-title > .actions .dropdown-menu li > a {
  color: #555;
}

.portlet.light > .portlet-title > .inputs {
  float: right;
  display: inline-block;
  padding: 4px 0;
}

.portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > i {
  font-size: 14px;
  margin-top: 9px;
}

.portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > .form-control {
  height: 30px;
  padding: 2px 26px 3px 10px;
  font-size: 13px;
}

.portlet.light > .portlet-title > .inputs > .portlet-input > .form-control {
  height: 30px;
  padding: 3px 10px;
  font-size: 13px;
}

.portlet.light > .portlet-title > .ui-pagination {
  padding: 2px 0 13px;
}

.portlet.light > .portlet-title > .tools {
  padding: 10px 0 13px;
  margin-top: 2px;
}

.portlet > .portlet-title > .tools > a {
  display: inline-block;
  height: 16px;
  margin-left: 5px;
}

.portlet.light .portlet-body {
  padding-top: 8px;
}

.portlet.light.portlet-fullscreen > .portlet-body {
  padding: 8px 0;
}
/***
Portlet tabs
***/
.portlet-tabs {
  > .nav-tabs {
    position: relative;
    top: -39px;
    margin-right: 10px;
    overflow: hidden;
    border-bottom: none;

    > li {
      float: right;
      margin-left: 1px;

      > a {
        color: #fff;
        padding-top: 7px;
        padding-bottom: 10px;
        line-height: 16px;
        margin-top: 5px;
        margin-left: 0;
        margin-right: 0;
        border-left: 0;
        border-right: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

        &:hover {
          color: #333;
          margin-bottom: 0;
          border-bottom-color: transparent;
          margin-left: 0;
          margin-right: 0;
          border-left: 0;
          border-right: 0;
          border-top-color: transparent;
          background-color: #fff;
        }
      }

      &:last-child > a {
        border-right: 0;
      }
    }

    > li.active {
      color: #333;
      border-top-color: transparent;

      > a {
        margin-bottom: 0;
        border-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-left: 0;
        border-right: 0;
        border-top-color: transparent !important;
        color: #555555;
        cursor: default;
        background-color: #fff;

        &:hover {
          color: #333;
          margin-bottom: 0;
          border-bottom-color: transparent;
          margin-left: 0;
          margin-right: 0;
          border-left: 0;
          border-right: 0;
          border-top-color: transparent;
          background-color: #fff;
        }
      }
    }
  }

  > .tab-content {
    padding: 10px !important;
    margin: -38px 0 0 !important;
  }
}

.portlet.tabbable {
  .portlet-body {
    padding: 0;
  }
}

.tab-pane {
  > p:last-child {
    margin-bottom: 0;
  }
}
/* Reverse aligned tabs */
.tabs-reversed {
  > li {
    float: right;
    margin-right: 0;

    > a {
      margin-right: 0;
    }
  }
}
