/**
 * Created by Wu Jian Ping on 2017/11/13.
 */
.bg-dark {background: #2f353b!important;}
.bg-default { background: #e1e5ec!important;}
.bg-font-default {color: #666!important;}
.bg-blue { background: #3598dc!important;}
.bg-font-blue {color: #fff!important;}
.bg-blue-madison { background: #578ebe!important;}
.bg-font-blue-madison {color: #fff!important;}
.bg-blue-chambray { background: #2c3e50!important;}
.bg-font-blue-chambray {color: #fff!important;}
.bg-blue-ebonyclay { background: #22313f!important;}
.bg-font-blue-ebonyclay {color: #fff!important;}
.bg-blue-hoki { background: #67809f!important;}
.bg-font-blue-hoki {color: #fff!important;}
.bg-blue-steel { background: #4b77be!important;}
.bg-font-blue-steel {color: #fff!important;}
.bg-blue-soft { background: #4c87b9!important;}
.bg-font-blue-soft {color: #fff!important;}
.bg-blue-dark { background: #5e738b!important;}
.bg-font-blue-dark {color: #fff!important;}
.bg-blue-sharp { background: #5c9bd1!important;}
.bg-font-blue-sharp {color: #fff!important;}
.bg-blue-oleo { background: #94a0b2!important;}
.bg-font-blue-oleo {color: #fff!important;}
.bg-green { background: #32c5d2!important;}
.bg-font-green {color: #fff!important;}
.bg-green-meadow { background: #1bbc9b!important;}
.bg-font-green-meadow {color: #fff!important;}
.bg-green-seagreen { background: #1ba39c!important;}
.bg-font-green-seagreen {color: #fff!important;}
.bg-green-turquoise { background: #36D7B7!important;}
.bg-font-green-turquoise {color: #fff!important;}
.bg-green-haze { background: #44B6AE!important;}
.bg-font-green-haze {color: #fff!important;}
.bg-green-jungle { background: #26C281!important;}
.bg-font-green-jungle {color: #fff!important;}
.bg-green-soft { background: #3FABA4!important;}
.bg-font-green-soft {color: #fff!important;}
.bg-green-dark { background: #4DB3A2!important;}
.bg-font-green-dark {color: #fff!important;}
.bg-green-sharp { background: #2AB4C0!important;}
.bg-font-green-sharp {color: #fff!important;}
.bg-green-steel { background: #29B4B6!important;}
.bg-font-green-steel {color: #fff!important;}
.bg-grey { background: #E5E5E5!important;}
.bg-font-grey {color: #666!important;}
.bg-grey-steel { background: #E9EDEF!important;}
.bg-font-grey-steel {color: #fff!important;}
.bg-grey-cararra { background: #FAFAFA!important;}
.bg-font-grey-cararra {color: #fff!important;}
.bg-grey-gallery { background: #555555!important;}
.bg-font-grey-gallery {color: #fff!important;}
.bg-grey-cascade { background: #95A5A6!important;}
.bg-font-grey-cascade {color: #fff!important;}
.bg-grey-silver { background: #BFBFBF!important;}
.bg-font-grey-silver {color: #fff!important;}
.bg-grey-salsa { background: #ACB5C3!important;}
.bg-font-grey-salsa {color: #fff!important;}
.bg-grey-salt { background: #BFCAD1!important;}
.bg-font-grey-salt {color: #fff!important;}
.bg-grey-mint { background: #525E64!important;}
.bg-font-grey-mint {color: #fff!important;}
.bg-red { background: #E7505A!important;}
.bg-font-red {color: #fff!important;}
.bg-red-pink { background: #E08283!important;}
.bg-font-red-pink {color: #fff!important;}
.bg-red-sunglo { background: #E26A6A!important;}
.bg-font-red-sunglo {color: #fff!important;}
.bg-red-intense { background: #E35B5A!important;}
.bg-font-red-intense {color: #fff!important;}
.bg-red-thunderbird { background: #D91E18!important;}
.bg-font-red-thunderbird {color: #fff!important;}
.bg-red-flamingo { background: #EF4836!important;}
.bg-font-red-flamingo {color: #fff!important;}
.bg-red-soft { background: #D05454!important;}
.bg-font-red-soft {color: #fff!important;}
.bg-red-haze { background: #F36A5A!important;}
.bg-font-red-haze {color: #fff!important;}
.bg-red-mint { background: #E43A45!important;}
.bg-font-red-mint {color: #fff!important;}
.bg-yellow { background: #C49F47!important;}
.bg-font-yellow {color: #fff!important;}
.bg-yellow-gold { background: #E87E04!important;}
.bg-font-yellow-gold {color: #fff!important;}
.bg-yellow-casablanca { background: #F2784B!important;}
.bg-font-yellow-casablanca {color: #fff!important;}
.bg-yellow-crusta { background: #F3C200!important;}
.bg-font-yellow-crusta {color: #fff!important;}
.bg-yellow-lemon { background: #F7CA18!important;}
.bg-font-yellow-lemon {color: #fff!important;}
.bg-yellow-saffron { background: #F4D03F!important;}
.bg-font-yellow-saffron {color: #fff!important;}
.bg-yellow-soft { background: #C8D046!important;}
.bg-font-yellow-soft {color: #fff!important;}
.bg-yellow-haze { background: #C5BF66!important;}
.bg-font-yellow-haze {color: #fff!important;}
.bg-yellow-mint { background: #C5B96B!important;}
.bg-font-yellow-mint {color: #fff!important;}
.bg-purple { background: #8E44AD!important;}
.bg-font-purple {color: #fff!important;}
.bg-purple-plum { background: #8775A7!important;}
.bg-font-purple-plum {color: #fff!important;}
.bg-purple-medium { background: #BF55EC!important;}
.bg-font-purple-medium {color: #fff!important;}
.bg-purple-studio { background: #8E44AD!important;}
.bg-font-purple-studio {color: #fff!important;}
.bg-purple-wisteria { background: #9B59B6!important;}
.bg-font-purple-wisteria {color: #fff!important;}
.bg-purple-seance { background: #9A12B3!important;}
.bg-font-purple-seance {color: #fff!important;}
.bg-purple-intense { background: #8775A7!important;}
.bg-font-purple-intense {color: #fff!important;}
.bg-purple-sharp { background: #796799!important;}
.bg-font-purple-sharp {color: #fff!important;}
.bg-purple-soft { background: #8877A9!important;}
.bg-font-purple-soft {color: #fff!important;}
