@import "../mixins";
$color-types: join((
    primary: $brand-primary,
    success: $brand-success,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger
), $color-list);

@each $name, $color in $color-types {
  /* button */
  .btn.#{$name}-stripe {
    @include stripe-variant-for-btn($color)
  }
  .btn.#{$name} {
    @include btn-solid-variant(#fff, $color)
  }
  .btn.btn-outline.#{$name} {
    @include btn-outline-variant($color)
  }
  /* portlet */
  .portlet.#{$name} {
    @include portlet($color, #fff)
  }
  /* font */
  .font-#{$name} {
    color: $color!important;
  }
  /* label */
  .label-#{$name} {
    @extend .label-default;
    font-weight: normal;
    display: inline-block;
    background-color: transparent;
    color: $color;
    border: 1px solid $color;
  }
}

// 下面是一些需要特殊处理的颜色

/* font */
.font-white {color: #fff!important;}
.font-text {color: $text-color!important;}

/* Button */
.btn.default {
  @include button-variant(#333333, $color-grey, $color-grey);
}
.btn.grey {
  @include button-variant(#333333, $color-grey, $color-grey);
}

.btn.btn-outline.default {
  border-color: $color-default;
  color: $color-default;
  background: 0 0;
}

.btn.btn-outline.default.active, .btn.btn-outline.default:active, .btn.btn-outline.default:active:focus, .btn.btn-outline.default:active:hover, .btn.btn-outline.default:focus, .btn.btn-outline.default:hover {
  border-color: $color-default;
  color: #666;
  background-color: $color-default;
}
