/**
 * Created by Wu Jian Ping on 2017/05/10
 */

.margin-t-5px {
  margin-top: 5px !important;
}

.margin-t-10px {
  margin-top: 10px !important;
}

.margin-t-15px {
  margin-top: 15px !important;
}

.margin-t-20px {
  margin-top: 20px !important;
}

.margin-t-40px {
  margin-top: 40px !important;
}

.margin-t-60px {
  margin-top: 60px !important;
}

.margin-l-10px {
  margin-left: 10px !important;
}

.margin-l-20px {
  margin-left: 20px !important;
}

.margin-t-30px {
  margin-top: 30px !important;
}

.margin-v-20px {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margin-r-5px {
  margin-right: 5px;
}
// margin left

.margin-l-0x {
  margin-left: 0 !important;
}

.margin-l-0-3x {
  margin-left: $grid-gutter-width/6 !important;
}

.margin-l-0-6x {
  margin-left: $grid-gutter-width/3 !important;
}

.margin-l-1x {
  margin-left: $grid-gutter-width/2 !important;
}

.margin-l-2x {
  margin-left: $grid-gutter-width !important;
}
// margin right

.margin-r-0x {
  margin-right: 0 !important;
}

.margin-r-0-3x {
  margin-right: $grid-gutter-width/6 !important;
}

.margin-r-0-6x {
  margin-right: $grid-gutter-width/3 !important;
}

.margin-r-1x {
  margin-right: $grid-gutter-width/2 !important;
}

.margin-r-2x {
  margin-right: $grid-gutter-width !important;
}
// margin top

.margin-t-0x {
  margin-top: 0 !important;
}

.margin-t-0-3x {
  margin-top: $grid-gutter-width/6 !important;
}

.margin-t-0-6x {
  margin-top: $grid-gutter-width/3 !important;
}

.margin-t-1x {
  margin-top: $grid-gutter-width/2 !important;
}

.margin-t-2x {
  margin-top: $grid-gutter-width !important;
}
// margin bottom

.margin-b-0x {
  margin-bottom: 0 !important;
}

.margin-b-0-3x {
  margin-bottom: $grid-gutter-width/6 !important;
}

.margin-b-0-6x {
  margin-bottom: $grid-gutter-width/3 !important;
}

.margin-b-1x {
  margin-bottom: $grid-gutter-width/2 !important;
}

.margin-b-2x {
  margin-bottom: $grid-gutter-width !important;
}
// margin horizontal

.margin-h-0x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.margin-h-0-3x {
  margin-left: $grid-gutter-width/6 !important;
  margin-right: $grid-gutter-width/6 !important;
}

.margin-h-0-6x {
  margin-left: $grid-gutter-width/3 !important;
  margin-right: $grid-gutter-width/3 !important;
}

.margin-h-1x {
  margin-left: $grid-gutter-width/2 !important;
  margin-right: $grid-gutter-width/2 !important;
}

.margin-h-2x {
  margin-left: $grid-gutter-width !important;
  margin-right: $grid-gutter-width !important;
}
// margin vertical

.margin-v-0x {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margin-v-0-3x {
  margin-top: $grid-gutter-width/6 !important;
  margin-bottom: $grid-gutter-width/6 !important;
}

.margin-v-0-6x {
  margin-top: $grid-gutter-width/3 !important;
  margin-bottom: $grid-gutter-width/3 !important;
}

.margin-v-1x {
  margin-top: $grid-gutter-width/2 !important;
  margin-bottom: $grid-gutter-width/2 !important;
}

.margin-v-2x {
  margin-top: $grid-gutter-width !important;
  margin-bottom: $grid-gutter-width !important;
}
// margin all

.margin-0x {
  margin: 0 !important;
}

.margin-0-3x {
  margin: $grid-gutter-width/6 !important;
}

.margin-0-6x {
  margin: $grid-gutter-width/3 !important;
}

.margin-1x {
  margin: $grid-gutter-width/2 !important;
}

.margin-2x {
  margin: $grid-gutter-width !important;
}
