/**
 * Created by Wu Jian Ping on 2017/11/13.
 */

$note-padding: 15px !default;
$note-border-radius: $border-radius-base !default;

$note-success-border: #58d0da !default;
$note-success-text: #000 !default;

$note-info-border: #8bb4e7 !default;
$note-info-text: #010407 !default;

$note-warning-border: #f3cc31 !default;
$note-warning-text: #000 !default;

$note-danger-border: #f0868e !default;
$note-danger-text: #210406 !default;

$note-green-jungle: $color-green-jungle !default;
$note-green-jungle-text: #000 !default;


@mixin note-variant($color, $text-color) {
  background-color: lighten($color, 25%);
  border-color: $color;
  color: $text-color;
}

.note {
  margin: 0 0 20px;
  padding: $note-padding ($note-padding * 2) $note-padding $note-padding;
  border-left: 5px solid #eee;
  border-radius: 0;
}

.note-success {
  @include note-variant($note-success-border, $note-success-text);
}

.note-info {
  @include note-variant($note-info-border, $note-info-text);
}

.note-warning {
  @include note-variant($note-warning-border, $note-warning-text);
}

.note-danger {
  @include note-variant($note-danger-border, $note-danger-text);
}

.note-green-jungle {
  @include note-variant($note-green-jungle, $note-green-jungle-text);
}

//下面可以接着向下添加
