/**
 * Created by Wu Jian Ping on 2017/11/13.
 */

$step-normal-color: #E5E5E5 !default;
$step-active-color: #32C5D2 !default;
$step-done-color: #26C281 !default;
$step-error-color: #E7505A !default;
$step-font-color: #FFF !default;

.step {
  .row {
    margin: 0;
  }

  .step-default {
    background-color: $step-normal-color !important;
    .step-col {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
    }

    .step-number {
      font-size: 26px !important;
      border-radius: 50% !important;
      display: inline-block;
      margin: auto auto 20px;
      padding: 3px 14px;
      color: $color-grey !important;
      background-color: $step-font-color !important;
    }

    .step-title {
      font-size: 30px;
      font-weight: 100;
      color: $color-grey-cascade !important;
    }

    .step-content {
      color: $color-grey-cascade !important;
    }

    .active {
      background-color: $step-active-color !important;

      .step-number {
        color: $step-active-color !important;
      }

      .step-title {
        color: $step-font-color !important;
      }

      .step-content {
        color: $step-font-color !important;
      }
    }

    .done {
      background-color: $step-done-color !important;

      .step-number {
        color: $step-done-color !important;
      }

      .step-title {
        color: $step-font-color !important;
      }

      .step-content {
        color: $step-font-color !important;
      }
    }

    .error {
      background-color: $step-error-color !important;
      .step-number {
        color: $step-error-color !important;
      }
      .step-title {
        color: $step-font-color !important;
      }
      .step-content {
        color: $step-font-color !important;
      }
    }
  }

  .step-thin {
    background-color: $step-normal-color !important;
    .step-col {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .step-number {
      font-size: 26px !important;
      float: left;
      margin: auto;
      padding: 3px 14px;
      border-radius: 50% !important;
      color: $color-grey !important;
      background-color: $step-font-color !important;
    }
    .step-title {
      font-size: 24px;
      font-weight: 100;
      padding-left: 60px;
      margin-top: -4px;
      color: $color-grey-cascade !important;
    }
    .step-content {
      padding-left: 60px;
      margin-top: -5px;
      color: $color-grey-cascade !important;
    }

    .active {
      background-color: $step-active-color !important;

      .step-number {
        color: $step-active-color !important;
      }

      .step-title {
        color: $step-font-color !important;
      }

      .step-content {
        color: $step-font-color !important;
      }
    }

    .done {
      background-color: $step-done-color !important;

      .step-number {
        color: $step-done-color !important;
      }

      .step-title {
        color: $step-font-color !important;
      }

      .step-content {
        color: $step-font-color !important;
      }
    }

    .error {
      background-color: $step-error-color !important;
      .step-number {
        color: $step-error-color !important;
      }
      .step-title {
        color: $step-font-color !important;
      }
      .step-content {
        color: $step-font-color !important;
      }
    }
  }

  .step-no-background {
    .step-col {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
    }

    .step-number {
      font-size: 26px !important;
      border-radius: 50% !important;
      display: inline-block;
      margin: auto auto 20px;
      padding: 3px 14px;
      border: 1px solid $step-normal-color;
      color: $color-grey-cascade !important;
    }

    .step-title {
      font-size: 30px;
      font-weight: 100;
      color: $color-grey-cascade !important;
    }

    .step-content {
      color: $color-grey-cascade !important;
    }

    .active {
      .step-number {
        color: $step-active-color !important;
        border-color: $step-active-color !important;
        font-weight: 700;
      }
      .step-title {
        color: $step-active-color !important;
        font-weight: 700;
      }
      .step-content {
        color: $step-active-color !important;
        font-weight: 700;
      }
    }

    .done {
      .step-number {
        color: $step-done-color !important;
        border-color: $step-done-color !important;
        font-weight: 700;
      }
      .step-title {
        color: $step-done-color !important;
        font-weight: 700;
      }
      .step-content {
        color: $step-done-color !important;
        font-weight: 700;
      }
    }

    .error {
      .step-number {
        color: $step-error-color !important;
        border-color: $step-error-color !important;
        font-weight: 700;
      }
      .step-title {
        color: $step-error-color !important;
        font-weight: 700;
      }
      .step-content {
        color: $step-error-color !important;
        font-weight: 700;
      }
    }
  }

  .step-no-background-thin {
    .step-col {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .step-number {
      font-size: 26px !important;
      border-radius: 50% !important;
      float: left;
      margin: auto;
      padding: 3px 14px;
      border: 1px solid $step-normal-color;
      color: $color-grey-cascade !important;
    }
    .step-title {
      font-size: 24px;
      font-weight: 100;
      padding-left: 60px;
      margin-top: -4px;
      color: $color-grey-cascade !important;
    }
    .step-content {
      padding-left: 60px;
      margin-top: -5px;
      color: $color-grey-cascade !important;
    }

    .active {
      .step-number {
        color: $step-active-color !important;
        border-color: $step-active-color !important;
        font-weight: 700;
      }
      .step-title {
        color: $step-active-color !important;
        font-weight: 700;
      }
      .step-content {
        color: $step-active-color !important;
        font-weight: 700;
      }
    }

    .done {
      .step-number {
        color: $step-done-color !important;
        border-color: $step-done-color !important;
        font-weight: 700;
      }
      .step-title {
        color: $step-done-color !important;
        font-weight: 700;
      }
      .step-content {
        color: $step-done-color !important;
        font-weight: 700;
      }
    }

    .error {
      .step-number {
        color: $step-error-color !important;
        border-color: $step-error-color !important;
        font-weight: 700;
      }
      .step-title {
        color: $step-error-color !important;
        font-weight: 700;
      }
      .step-content {
        color: $step-error-color !important;
        font-weight: 700;
      }
    }
  }

  .step-background {
    background-color: $color-grey-steel !important;
    .step-col {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
      height: 160px;
    }

    .step-number {
      font-size: 200px;
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: .79em;
      color: darken($color-grey-steel, 5%) !important;
      z-index: 4;
    }

    .step-title {
      font-size: 30px;
      font-weight: 100;
      text-align: right;
      z-index: 5;
      position: relative;
      padding-right: 25%;
      color: $color-grey-cascade;
    }

    .step-content {
      text-align: right;
      z-index: 5;
      position: relative;
      padding-right: 25%;
      color: $color-grey-cascade;
    }

    .active {
      background-color: $step-active-color !important;
      .step-number {
        color: darken($step-active-color, 5%) !important;
      }
      .step-title {
        color: $step-font-color !important;
      }
      .step-content {
        color: $step-font-color !important;
      }
    }

    .done {
      background-color: $step-done-color !important;

      .step-number {
        color: darken($step-done-color, 5%) !important;
      }

      .step-title {
        color: $step-font-color !important;
      }

      .step-content {
        color: $step-font-color !important;
      }
    }

    .error {
      background-color: $step-error-color !important;
      .step-number {
        color: darken($step-error-color, 5%) !important;
      }
      .step-title {
        color: $step-font-color !important;
      }
      .step-content {
        color: $step-font-color !important;
      }
    }
  }

  .step-background-thin {
    background-color: $color-grey-steel !important;
    .step-col {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
    }
    .step-number {
      font-size: 120px;
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: .79em;
      color: darken($color-grey-steel, 5%) !important;
      z-index: 4;
    }
    .step-title {
      font-size: 30px;
      font-weight: 100;
      text-align: right;
      padding-right: 25%;
      z-index: 5;
      position: relative;
      color: $color-grey-cascade;
    }
    .step-content {
      text-align: right;
      position: relative;
      padding-right: 25%;
      z-index: 5;
      color: $color-grey-cascade;
    }

    .active {
      background-color: $step-active-color !important;
      .step-number {
        color: darken($step-active-color, 5%) !important;
      }
      .step-title {
        color: $step-font-color !important;
      }
      .step-content {
        color: $step-font-color !important;
      }
    }

    .done {
      background-color: $step-done-color !important;

      .step-number {
        color: darken($step-done-color, 5%) !important;
      }

      .step-title {
        color: $step-font-color !important;
      }

      .step-content {
        color: $step-font-color !important;
      }
    }

    .error {
      background-color: $step-error-color !important;
      .step-number {
        color: darken($step-error-color, 5%) !important;
      }
      .step-title {
        color: $step-font-color !important;
      }
      .step-content {
        color: $step-font-color !important;
      }
    }
  }

  .step-line {
    .step-col {
      padding: 30px 0;
      text-align: center;
    }
    .step-number {
      font-size: 26px;
      border-radius: 50% !important;
      display: inline-block;
      margin: auto auto 5px;
      padding: 9px;
      border: 3px solid $step-normal-color;
      position: relative;
      z-index: 5;
      height: 60px;
      width: 60px;
      text-align: center;
      color:$step-normal-color;
      background-color: $step-font-color;
    }
    .step-title {
      font-size: 20px;
      font-weight: 400;
      position: relative;
      color: $color-grey-cascade;
      &:after, &:before {
        content: '';
        height: 3px;
        width: 50%;
        position: absolute;
        background-color: $step-normal-color;
        top: -32px;
        z-index: 4;
        transform: translateY(-100%);
      }
      &:before {
        right: 50%;
      }
      &:after {
        left: 50%;
      }
    }
    .step-content{
      color:$color-grey-cascade;
    }

    .first {
      .step-title:before {
        content: none;
      }
    }
    .last {
      .step-title:after {
        content: none;
      }
    }

    .active {
      .step-number {
        color: $step-active-color !important;
        border-color: $step-active-color !important;
        background-color: $step-font-color;
      }
      .step-title {
        color: $step-active-color !important;
        &:after, &:before {
          background-color: $step-active-color !important;
        }
      }
      .step-content {
        color: $step-active-color !important;
      }
    }

    .done {
      .step-number {
        color: $step-done-color !important;
        border-color: $step-done-color !important;
        background-color: $step-font-color;
      }
      .step-title {
        color: $step-done-color !important;
        &:after, &:before {
          background-color: $step-done-color !important;
        }
      }
      .step-content {
        color: $step-done-color !important;
      }
    }

    .error {
      .step-number {
        color: $step-error-color !important;
        border-color: $step-error-color !important;
        background-color: $step-font-color;
      }
      .step-title {
        color: $step-error-color !important;
        &:after, &:before {
          background-color: $step-error-color !important;
        }
      }
      .step-content {
        color: $step-error-color !important;
      }
    }
  }
}

@media (max-width: 991px) {
  .step .step-line .step-title:after, .step .step-line .step-title:before {
    content: none
  }
}
