/**
 * Created by Wu Jian Ping on 2017/11/13.
 */

.dashboard-stat2 {
  background: #fff;
  padding: 15px 15px 30px;
  margin-bottom: 20px;

  .display {
    margin-bottom: 20px;

    &:after, &:before {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    .number {
      float: left;
      display: inline-block;

      h3 {
        margin: 0 0 2px;
        padding: 0;
        font-size: 30px;
        font-weight: 400;
      }
      small {
        font-size: 14px;
        color: #AAB5BC;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .icon {
      display: inline-block;
      float: right;
      padding: 7px 0 0;
      > i {
        color: #cbd4e0;
        font-size: 26px;
      }
    }
  }

  .progress-info {
    clear: both;

    .progress {
      margin: 0;
      height: 4px;
      clear: both;
      display: block;
    }

    .status {
      margin-top: 5px;
      font-size: 11px;
      color: #AAB5BC;
      font-weight: 600;
      text-transform: uppercase;

      .status-title {
        float: left;
        display: inline-block;
      }

      .status-number {
        float: right;
        display: inline-block;
      }
    }
  }
}
