/**
 * Created by Wu Jian Ping on 2017/11/13.
 */

@import "../../colors";
@import "../../mixins/dashboardstat";

// common
.dashboard-stat{
  margin-bottom: 25px;
  &:before, &:after{
    content: " ";
    display: table;
  }

  .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;

    > i {
      margin-left: -27px;
      font-size: 110px;
      line-height: 110px;
    }

  }

  .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;

    .number {
      padding-top: 25px;
      text-align: right;
      font-size: 34px;
      line-height: 36px;
      letter-spacing: -1px;
      margin-bottom: 0;
      font-weight: 300;
    }

    .desc {
      text-align: right;
      font-size: 16px;
      letter-spacing: 0;
      font-weight: 300;
    }
  }

  .more {
    clear: both;
    display: block;
    padding: 6px 10px 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    opacity: 0.7;
    filter: alpha(opacity=70);

    > i {
      display: inline-block;
      margin-top: 1px;
      float: right;
      font-size: 18px;
      font-weight: 100;
    }

    &:hover {
      text-decoration: none;
      opacity: 0.9;
      filter: alpha(opacity=90);
    }
  }
}



.dashboard-stat.default {@include dashboard-stat($color-default, #666);}
.dashboard-stat.blue {@include dashboard-stat($color-blue, #fff);}
.dashboard-stat.blue-madison {@include dashboard-stat($color-blue-madison, #fff);}
.dashboard-stat.blue-chambray {@include dashboard-stat($color-blue-chambray, #fff);}
.dashboard-stat.blue-ebonyclay {@include dashboard-stat($color-blue-ebonyclay, #fff);}
.dashboard-stat.blue-hoki {@include dashboard-stat($color-blue-hoki, #fff);}
.dashboard-stat.blue-steel {@include dashboard-stat($color-blue-steel, #fff);}
.dashboard-stat.blue-soft {@include dashboard-stat($color-blue-soft, #fff);}
.dashboard-stat.blue-dark {@include dashboard-stat($color-blue-dark, #fff);}
.dashboard-stat.blue-sharp {@include dashboard-stat($color-blue-sharp, #fff);}
.dashboard-stat.blue-oleo {@include dashboard-stat($color-blue-oleo, #fff);}
.dashboard-stat.green {@include dashboard-stat($color-green, #fff);}
.dashboard-stat.green-meadow {@include dashboard-stat($color-green-meadow, #fff);}
.dashboard-stat.green-seagreen {@include dashboard-stat($color-green-seagreen, #fff);}
.dashboard-stat.green-turquoise {@include dashboard-stat($color-green-turquoise, #fff);}
.dashboard-stat.green-haze {@include dashboard-stat($color-green-haze, #fff);}
.dashboard-stat.green-jungle {@include dashboard-stat($color-green-jungle, #fff);}
.dashboard-stat.green-soft {@include dashboard-stat($color-green-soft, #fff);}
.dashboard-stat.green-dark {@include dashboard-stat($color-green-dark, #fff);}
.dashboard-stat.green-sharp {@include dashboard-stat($color-green-sharp, #fff);}
.dashboard-stat.green-steel {@include dashboard-stat($color-green-steel, #fff);}
.dashboard-stat.grey {@include dashboard-stat($color-grey, #666);}
.dashboard-stat.grey-steel {@include dashboard-stat($color-grey-steel, #fff);}
.dashboard-stat.grey-cararra {@include dashboard-stat($color-grey-cararra, #fff);}
.dashboard-stat.grey-gallery {@include dashboard-stat($color-grey-gallery, #fff);}
.dashboard-stat.grey-cascade {@include dashboard-stat($color-grey-cascade, #fff);}
.dashboard-stat.grey-silver {@include dashboard-stat($color-grey-silver, #fff);}
.dashboard-stat.grey-salsa {@include dashboard-stat($color-grey-salsa, #fff);}
.dashboard-stat.grey-salt {@include dashboard-stat($color-grey-salt, #fff);}
.dashboard-stat.grey-mint {@include dashboard-stat($color-grey-mint, #fff);}
.dashboard-stat.red {@include dashboard-stat($color-red, #fff);}
.dashboard-stat.red-pink {@include dashboard-stat($color-red-pink, #fff);}
.dashboard-stat.red-sunglo {@include dashboard-stat($color-red-sunglo, #fff);}
.dashboard-stat.red-intense {@include dashboard-stat($color-red-intense, #fff);}
.dashboard-stat.red-thunderbird {@include dashboard-stat($color-red-thunderbird, #fff);}
.dashboard-stat.red-flamingo {@include dashboard-stat($color-red-flamingo, #fff);}
.dashboard-stat.red-soft {@include dashboard-stat($color-red-soft, #fff);}
.dashboard-stat.red-haze {@include dashboard-stat($color-red-haze, #fff);}
.dashboard-stat.red-mint {@include dashboard-stat($color-red-mint, #fff);}
.dashboard-stat.yellow {@include dashboard-stat($color-yellow, #fff);}
.dashboard-stat.yellow-gold {@include dashboard-stat($color-yellow-gold, #fff);}
.dashboard-stat.yellow-casablanca {@include dashboard-stat($color-yellow-casablanca, #fff);}
.dashboard-stat.yellow-crusta {@include dashboard-stat($color-yellow-crusta, #fff);}
.dashboard-stat.yellow-lemon {@include dashboard-stat($color-yellow-lemon, #fff);}
.dashboard-stat.yellow-saffron {@include dashboard-stat($color-yellow-saffron, #fff);}
.dashboard-stat.yellow-soft {@include dashboard-stat($color-yellow-soft, #fff);}
.dashboard-stat.yellow-haze {@include dashboard-stat($color-yellow-haze, #fff);}
.dashboard-stat.yellow-mint {@include dashboard-stat($color-yellow-mint, #fff);}
.dashboard-stat.purple {@include dashboard-stat($color-purple, #fff);}
.dashboard-stat.purple-plum {@include dashboard-stat($color-purple-plum, #fff);}
.dashboard-stat.purple-medium {@include dashboard-stat($color-purple-medium, #fff);}
.dashboard-stat.purple-studio {@include dashboard-stat($color-purple-studio, #fff);}
.dashboard-stat.purple-wisteria {@include dashboard-stat($color-purple-wisteria, #fff);}
.dashboard-stat.purple-seance {@include dashboard-stat($color-purple-seance, #fff);}
.dashboard-stat.purple-intense {@include dashboard-stat($color-purple-intense, #fff);}
.dashboard-stat.purple-sharp {@include dashboard-stat($color-purple-sharp, #fff);}
.dashboard-stat.purple-soft {@include dashboard-stat($color-purple-soft, #fff);}
