/**
 * Created by Wu Jian Ping on 2017/11/13.
 */

$color-list: (
    default: #e1e5ec,
    blue: #3598dc,
    blue-madison: #578ebe,
    blue-chambray: #2c3e50,
    blue-ebonyclay: #22313f,
    blue-hoki: #67809f,
    blue-steel: #4b77be,
    blue-soft: #4c87b9,
    blue-dark: #5e738b,
    blue-sharp: #5c9bd1,
    blue-oleo: #94a0b2,
    green: #32c5d2,
    green-meadow: #1bbc9b,
    green-seagreen: #1ba39c,
    green-turquoise: #36D7B7,
    green-haze: #44B6AE,
    green-jungle: #26C281,
    green-soft: #3FABA4,
    green-dark: #4DB3A2,
    green-sharp: #2AB4C0,
    green-steel: #29B4B6,
    grey: #E5E5E5,
    grey-steel: #E9EDEF,
    grey-cararra: #FAFAFA,
    grey-gallery: #555555,
    grey-cascade: #95A5A6,
    grey-silver: #BFBFBF,
    grey-salsa: #ACB5C3,
    grey-salt: #BFCAD1,
    grey-mint: #525E64,
    red: #E7505A,
    red-pink: #E08283,
    red-sunglo: #E26A6A,
    red-intense: #E35B5A,
    red-thunderbird: #D91E18,
    red-flamingo: #EF4836,
    red-soft: #D05454,
    red-haze: #F36A5A,
    red-mint: #E43A45,
    yellow: #C49F47,
    yellow-gold: #E87E04,
    yellow-casablanca: #F2784B,
    yellow-crusta: #F3C200,
    yellow-lemon: #F7CA18,
    yellow-saffron: #F4D03F,
    yellow-soft: #C8D046,
    yellow-haze: #C5BF66,
    yellow-mint: #C5B96B,
    purple: #8E44AD,
    purple-plum: #8775A7,
    purple-medium: #BF55EC,
    purple-studio: #8E44AD,
    purple-wisteria: #9B59B6,
    purple-seance: #9A12B3,
    purple-intense: #8775A7,
    purple-sharp: #796799,
    purple-soft: #8877A9,
    color-edit: #878787,
    color-view: #5DADE4,
    color-delete: #ED7B83
);

$color-default: #e1e5ec;
$color-blue: #3598dc;
$color-blue-madison: #578ebe;
$color-blue-chambray: #2c3e50;
$color-blue-ebonyclay: #22313f;
$color-blue-hoki: #67809f;
$color-blue-steel: #4b77be;
$color-blue-soft: #4c87b9;
$color-blue-dark: #5e738b;
$color-blue-sharp: #5c9bd1;
$color-blue-oleo: #94a0b2;
$color-green: #32c5d2;
$color-green-meadow: #1bbc9b;
$color-green-seagreen: #1ba39c;
$color-green-turquoise: #36D7B7;
$color-green-haze: #44B6AE;
$color-green-jungle: #26C281;
$color-green-soft: #3FABA4;
$color-green-dark: #4DB3A2;
$color-green-sharp: #2AB4C0;
$color-green-steel: #29B4B6;
$color-grey: #E5E5E5;
$color-grey-steel: #E9EDEF;
$color-grey-cararra: #FAFAFA;
$color-grey-gallery: #555555;
$color-grey-cascade: #95A5A6;
$color-grey-silver: #BFBFBF;
$color-grey-salsa: #ACB5C3;
$color-grey-salt: #BFCAD1;
$color-grey-mint: #525E64;
$color-red: #E7505A;
$color-red-pink: #E08283;
$color-red-sunglo: #E26A6A;
$color-red-intense: #E35B5A;
$color-red-thunderbird: #D91E18;
$color-red-flamingo: #EF4836;
$color-red-soft: #D05454;
$color-red-haze: #F36A5A;
$color-red-mint: #E43A45;
$color-yellow: #C49F47;
$color-yellow-gold: #E87E04;
$color-yellow-casablanca: #F2784B;
$color-yellow-crusta: #F3C200;
$color-yellow-lemon: #F7CA18;
$color-yellow-saffron: #F4D03F;
$color-yellow-soft: #C8D046;
$color-yellow-haze: #C5BF66;
$color-yellow-mint: #C5B96B;
$color-purple: #8E44AD;
$color-purple-plum: #8775A7;
$color-purple-medium: #BF55EC;
$color-purple-studio: #8E44AD;
$color-purple-wisteria: #9B59B6;
$color-purple-seance: #9A12B3;
$color-purple-intense: #8775A7;
$color-purple-sharp: #796799;
$color-purple-soft: #8877A9;
