/**
 * Created by Wu Jian Ping on 2017/05/10.
 */
@import "colors";
$fixed-nav: 1030 !default;
$nprogress-zindex: 3100 !default;
$toastr-zindex: 9999 !default;
$icon-font-size: 16px; // copy from webc
$color-m1: #5692EE; //系统主色，多用于按钮背景颜色、link字体颜色等
$color-m2: #F4716E; //系统次主色，用于部分特殊按钮背景颜色等
$color-f1: #43464F; //字体主色，多用于一级默认字体颜色、按钮、背景色
$color-f2: #7A808F; //字体色，多用于二级默认字体颜色
$color-a1: #FF934A; //特殊辅助色
$color-a2: #FABB54; //特殊辅助色
$color-b4: #EAEDF4; //边框色，多用于系统元素边框颜色等

/**
 *----------------------sidebar----------------------
 */
$sidebar-width: 235px; // sidebar width
$sidebar-xs-width: 46px; // sidebar width  in mini mode
/**
 * -------------------------- standard --------------------------
 */
// $color-primary: #0FBBE9 !default;
// $color-success: #36c6d3 !default;
// $color-info: #659be0 !default;
// $color-warning: #F1C40F !default;
// $color-danger: #ed6b75 !default;
// $color-border: #efefef !default;
// $navbar-bg: #37474f !default;
// $sidebar-bg-color: #263238 !default; // sidebar bg color
// $sidebar-link-color: rgba(255, 255, 255, .75) !default; // sidebar link color
// $sidebar-link-active-color: #fff !default; // sidebar link active color
// $sidebar-link-hover-color: #fff !default; // sidebar link hover color
// $sidebar-link-active-bg: rgba(0,0,0,.1) !default; // sidebar link active bg color
// $sidebar-active-color: #26a69a !default; // #d64635; // sidebar bg color in active (level1)
// $sidebar-open-bg: rgba(0,0,0,.1) !default; // sidebar bg color in open status (level1)
/*
 * -------------------------- gzw --------------------------
 */
$color-primary: #5592ee !default;
$color-success: #8ac34a !default;
$color-info: #ee4d4d !default;
$color-warning: #ffc207 !default;
$color-danger: #ee4d4d !default;
$color-border: #efefef !default;
$navbar-bg: lighten(#344068, 3%) !default;
$sidebar-bg-color: #344068 !default; // sidebar bg color
$sidebar-link-color: #8994af !default; // sidebar link color
$sidebar-link-active-color: #414c65 !default;
$sidebar-link-hover-color: #414c65 !default;
$sidebar-link-active-bg: #e1e6ed !default; // sidebar link active bg color
$sidebar-active-color: #42527a !default;
$sidebar-open-bg: #42527a !default; // sidebar bg color in open status (level1)
