@import "../../styles/common.scss";

.page-content {
  > .page-container {
    > .content-container {
      margin-left: 0;
      width: 100%;
    }
  }
}
@media only screen and (min-width: 769px) {
  .page-content {
    padding-top: $navbar-height;

    > .page-container {
      > .sidebar-container {
        position: relative;
        float: left;
        width: $sidebar-width;
        margin-right: -$sidebar-width;
        background-color: $sidebar-bg-color;
        transition: width 0.1s linear;

        >.toggle {
          height: 41px;
          text-align: right;
          padding: 10px 12px;

          >.icon-pin {
            float: right;
            cursor: pointer;
            font-size: 16px;
            color: #ddd;
            width: 20px;
            margin-right: 2px;
            line-height: 20px;
            display: block;
            text-align: center;
            transition: transform 0.15s linear;
            transform: rotate(45deg);

            &:hover{
              color: #fff;
            }
          }
        }

        &.sidebar-fixed {
          position: fixed;
          top: $navbar-height;

          >.toggle{
            >.icon-pin{
              transform: rotate(-45deg);
            }
          }
        }
      }

      > .content-container {
        float: right;
        width: 100%;

        > .content-container-wrapper {
          > .content-container-inner {
            transition: width 0.1s linear;
            background-color: #fff;
            margin-left: $sidebar-width;
            position: relative;
            padding: 25px 20px 20px;
          }
        }
      }

      &.sidebar-mini {
        > .sidebar-container {
          width: $sidebar-xs-width;
          margin-right: -$sidebar-xs-width;
          z-index: 1000;

          &.sidebar-fixed {
            position: fixed;
          }
        }

        > .content-container {
          > .content-container-wrapper {
            .content-container-inner {
              margin-left: $sidebar-xs-width;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .page-content {
    > .page-container {
      > .sidebar-container {
        >.toggle {
          display: none;
        }
        > .sidebar-container-wrapper {}
      }

      > .content-container {
        > .content-container-wrapper {
          > .content-container-inner {
            position: relative;
            padding: 20px 10px 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
