.page-404-full-page {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa !important;

  .page-404 {
    margin-top: 100px;
    text-align: center;

    .number {
      position: relative;
      top: 35px;
      display: inline-block;
      letter-spacing: -10px;
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 128px;
      font-size: 128px;
      font-weight: 300;
      color: #7bbbd6;
      text-align: right;
    }

    .details {
      margin-left: 40px;
      display: inline-block;
      padding-top: 0;
      text-align: left;
    }
  }
}
