
/* button start */
@mixin stripe-variant-for-btn($border) {
  border-top: 0;
  border-left: 3px solid $border !important;
  border-right: 0;
  border-bottom: 0;
}

@mixin btn-solid-variant($color, $background) {
  @include button-variant($color, $background, $background);
}

@mixin btn-outline-variant($color) {
  @include button-variant($color, #ffffff, $color);
  &.active,
  &:active,
  &:active:focus,
  &:active:hover,
  &:focus,
  &:hover{
    border-color: $color!important;
    background-color: $color!important;
    color: #ffffff!important;
  }
}
/* button end */