/* portlet start */
@mixin porlet-box($name, $color, $text-color) {

  .portlet.box.#{$name} {
    border: 1px solid lighten($color, 10%);
    border-top: 0;

    > .portlet-title {
      background-color: $color;

      > .caption {
        > i {
          color: $text-color;
        }
      }

      > .actions {
        .btn-default {
          background: transparent !important;
          background-color: transparent !important;
          border: 1px solid lighten($color, 22%);
          color: lighten($color, 27%);

          &:hover,
          &:focus,
          &:active,
          &.active {
            border: 1px solid lighten($color, 32%);
            color: lighten($color, 37%);
          }
        }
      }
    }
  }
}
//@include porlet-box("red", $metronic-red, $metronic-red-text);

/* Portlet background colors */
@mixin porlet-background($name, $color) {

  .portlet > .portlet-body.#{$name},
  .portlet.#{$name} {
    background-color: $color;
  }

}
//@include porlet-background("red", $metronic-red);

@mixin porlet-solid($name, $color) {

  .portlet.solid.#{$name} {

    > .portlet-title,
    > .portlet-body {
      border: 0;
      color: $color;
    }

    > .portlet-title {
      > .caption {
        > i {
          color: $color;
        }
      }
    }
  }
}
//@include porlet-solid("red", $metronic-blue-text);
/* portlet end */

@mixin portlet($background, $color) {
  background-color: $background;
  &.box {
    border: 1px solid $background;
    border-top: 0;

    > .portlet-title {
      background-color: $background;
      > .caption {
        > i {
          color: $color;
        }
      }
      > .actions {
        .btn-default {
          background: 0 0 !important;
          border: 1px solid lighten($background, 22%);
          color: lighten($background, 27%);

          &:hover {
            border: 1px solid lighten($background, 32%);
            color: lighten($background, 37%);
          }
        }
      }
    }
  }

  &.solid {
    > .portlet-body {
      border: 0;
      color: $color;
    }

    > .portlet-title {
      border: 0;
      margin-bottom: 10px;
      color: $color;
      .caption > i {
        color: $color;
      }
    }
  }
}